@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Ubuntu", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color, #3f72af);
  /* border-radius: 6px; */
}
